@import '../base/variables.scss';

.products{
    padding: 16px 323px 16px 347px;
    background-color: $fourthColor;
}

.product__list{
    padding: 0;
    background-color: $white;
}

.product__element{
    display: flex;
    // flex-wrap: wrap;
    border-bottom: 1px  solid $fourthColor;
}

.product__img{
    width: 180px;
    height: 180px;
    border-radius: 4px;
    margin: 16px;
}

.product__description{
    color: $secondaryColor;
    font-weight: 400;
}

.product__link{
    text-decoration: none;
    color: $secondaryColor;;
}


.product__props{
    display: flex;
    align-items: flex-end;
}

.product__value{
    margin: 0;
    font-size: 24px;
    color: $secondaryColor;
    font-weight: 500;
}

.product__shipping{
    margin: 0 8px;
    &.--false{
        display: none;
    }
}



.product__shipping--img{
    border-radius: 100%;
    background-color: $shippingColor;
    padding: 4px;
}

.product__title{
    margin: 32px 0 0;
    font-size: 18px;
}

.product__state{
    margin: 0;
    font-size: 18px;
    text-transform: capitalize;
}

.product__location{
    font-size: 12px;
    margin: 16px 0;
    padding: 16px 0;
    color: $alternativeColor;
    font-weight: 500;
}

.product__section{
    margin: 16px 0;
    padding: 16px 0;
    width: 60%;
}


@media screen and (max-width:$sizeTabletLandScape) {
    .products{
        width: auto;
        padding: 0;
    }
    .product__link{
        margin: 8px;
    }
    .product__title{
        margin: 20px 0 0;
        font-size: 15px;
    }
    .product__img {
        margin: 8px;
    }
    .product__section{
        width: 30%;
    }
    .product__state {
        font-size: 15px;
    }
}

