@import '../base/variables.scss';

.search{
    height: 40px;
    background: $white;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);;
    max-width: 60%;
    width: calc(100% - 350px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: all ease-in-out 0.2s;
}

.search__form{
    display: flex;
    width: 100%;
}

.search__input{
    padding: 0 16px;
    width: calc(100% - 74px);
}

.search__button{
    width: 24px;
    border: none;
    background: transparent;
    margin: 0 16px;
    padding: 0;
    position: relative;
    transition: all ease-in-out 0.2s;
}

@media screen and (max-width:$sizeTabletLandScape) {
    .search{
        width: auto;
    }
}


@media screen and (max-width:$sizeSmallPhone) {
    .search{
        width: auto;
    }
}