// Variables principales para cambios globales de estilos

$black:                 #000000;
$white:                 #FFFFFF;

$principalColor:        #FFE600;
$secondaryColor:        #333333;
$thirdColor:            #999999;
$fourthColor:           #EEEEEE;


$alternativeColor:      #666666;
$buttonColor:           #3483FA;  
