.detail{
    padding: 16px 323px 16px 347px;
    background-color: $fourthColor;
}

.detail__component{
    display: flex;
    justify-content: space-evenly;
    background-color: $white;
}

.detail__img{
    width: 680px;
    height: auto;
}

.detail__text{
    margin: 32px;
}
.detail__location{
    margin: 0;
    font-size: 14px;
    color: $thirdColor;
    font-weight: 500;
    text-transform: capitalize;
}

.detail__title{
    width: 70%;
    margin: 16px 0 0 0;
    font-size: 24px;
}

.detail__value{
    margin: 32px 0;
    font-size: 46px;
}

.detail__button{
    background-color: $buttonColor;
    border: none;
    font-size: 16px;
    padding: 16px;
    width: 70%;
    color: white;
    border-radius: 4px;
    &:hover{
        background-color: $buttonColorHover;
    }
}

.detail__description{
    display: flex;
    flex-direction: column;
}

.detail__descriptionProduct{
    font-size: 28px;
}

.detail__description__detail{
    font-size: 16px;
}

@media screen and (max-width:$sizeTabletLandScape) {
    .detail {
        margin: 8px;
        padding: 0;
    }
    .detail__component{
        flex-direction: column;
    }

    .detail__img{
        width: 100%;
    }
    .detail__descriptionProduct{
        margin: 8px;
        font-size: 24px;
    }
}